
// Body
$body-bg: #f4f3ef;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #FF5F00; //#FA8851; //#ff5f00;
$brand-info: #0291db;// #ff5e00;
$brand-success: #179C55;
$brand-warning: #fdd700;
$brand-danger: #F54C54;
$mdb-brand-inverse: #FFF;

// Typography
$font-family-sans-serif: "Montserrat", "Helvetica Neue", "Helvetica", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;
$link-color: #FF5F00;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $brand-primary;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
