
// Body
$body-bg: #fa8851;

// Borders
$laravel-border-color: darken(#fa8851, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #fa8851;
$brand-info: #f88a48;
$brand-success: #179C55;
$brand-warning: #fcdb48;
$brand-danger: #F54C54;
$mdb-brand-inverse: #FFF;

// Typography
$font-family-sans-serif: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
